<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Employee Manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Employee Manager</h1>
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Name</th>
				<th>Date of birth</th>
				<th>Social security number</th>
				<th>Address</th>
				<th>Department</th>
				<th></th>
				<th></th>
			</tr>
			<tr th:each="employee : ${employees}">
				<td th:text="${employee.firstname + ' ' + employee.lastname}"></td>
				<td th:text="${employee.dob}"></td>
				<td th:text="${employee.ssn}"></td>
				<td th:text="${employee.streetAddress + ', ' + employee.cityAddress + ' ' + employee.zipcode}"></td>
				<td th:text="${employee.department.name}"></td>
				<td><a th:href="@{/delete/{id}(id=${employee.id})}" class="btn btn-danger">Delete</a></td>
				<td><a th:href="@{/edit/{id}(id=${employee.id})}" class="btn btn-warning">Edit</a></td>
			</tr>
		</tbody>
	</table>
	<a href="/addemployee" class="btn btn-success">Add employee</a>
</body>
</html>