<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Error 404</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
			th:href="@{css/bootstrap.min.css}" />
		<link type="text/css" rel="stylesheet" href="css/styles.css"
			th:href="@{css/styles.css}" />
	</head>
	<body>
		<h1 style="font-size: 12vw; font-weight: 700">404</h1>
		<h1>Not found</h1>
		<a class="btn btn-primary" style="margin-top: 50px" href="/">Go Home</a>
	</body>
</html>